# Python cache
__pycache__/
*.pyc

# Virtual env
venv/

# VS Code – všechno kromě launch.json
.vscode/*
!.vscode/launch.json

# Build artefakty
/build/

# Dočasné / výstupní soubory
input/*.mp4
output/*.mp4

# PyInstaller spec soubory
*.spec

# Stažené binárky a knihovny
ffmpeg.exe
mediainfo.exe
MediaInfo.dll

/dist/*
!/dist/AnyToH265Converter.exe
